h2 {
    display: flex;
}


img{
    width: 500px;
    height: auto;
   
}

.images {
    display: flex;
    /* flex-direction: ; */
    margin: 0 auto;
}

.gallery {
    width: 200px;
    height: auto;
}
